In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv('Cars93.csv')

TRẦN THÁI DƯƠNG 223030609

In [2]:
df.head()

,Unnamed: 0,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,Driver & Passenger,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i

In [3]:
df.shape

(93, 28)

In [4]:
df1=df.copy()

In [5]:
df1=df1.drop('Unnamed: 0',axis=1)

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Manufacturer        93 non-null     object
 1   Model               93 non-null     object
 2   Type                93 non-null     object
 3   Min.Price           93 non-null     float64
 4   Price               93 non-null     float64
 5   Max.Price           93 non-null     float64
 6   MPG.city            93 non-null     int64
 7   MPG.highway         93 non-null     int64
 8   AirBags             59 non-null     object
 9   DriveTrain          93 non-null     object
 10  Cylinders           93 non-null     object
 11  EngineSize          93 non-null     float64
 12  Horsepower          93 non-null     int64
 13  RPM                 93 non-null     int64
 14  Rev.per.mile        93 non-null     int64
 15  Man.trans.avail     93 non-null     object
 16  Fuel.tank.capacity  93 non-null     float64
 17  Passengers          93 non-null     int64
 18  Length              93 non-null     int64
 19  Wheelbase           93 non-null     int64
 20  Width               93 non-null     int64
 21  Turn.circle         93 non-null     int64
 22  Rear.seat.room      91 non-null     float64
 23  Luggage.room        82 non-null     float64
 24  Weight              93 non-null     int64
 25  Origin              93 non-null     object
 26  Make                93 non-null     object
dtypes: float64(7), int64(11), object(9)
memory usage: 19.7+ KB

In [7]:
types=np.unique(df.dtypes)
print(types)

[dtype('int64') dtype('float64') dtype('O')]

In [8]:
for i,dtype in enumerate(types):
    if (dtype=='int64' or dtype=='float64'): 
        print('Dinh luong')
    if (dtype=='O'):
        print('Dinh tinh')
    for e in df1.columns:
        if df1[e].dtypes==dtype:
            print('*****',e)

Dinh luong
***** MPG.city
***** MPG.highway
***** Horsepower
***** RPM
***** Rev.per.mile
***** Passengers
***** Length
***** Wheelbase
***** Width
***** Turn.circle
***** Weight
Dinh luong
***** Min.Price
***** Price
***** Max.Price
***** EngineSize
***** Fuel.tank.capacity
***** Rear.seat.room
***** Luggage.room
Dinh tinh
***** Manufacturer
***** Model
***** Type
***** AirBags
***** DriveTrain
***** Cylinders
***** Man.trans.avail
***** Origin
***** Make

In [9]:
df1.isna().sum()[df1.isna().sum()>0]

AirBags           34
Rear.seat.room     2
Luggage.room      11
dtype: int64

In [10]:
for i in df1.isna().sum()[df1.isna().sum()>0] :
    a=round(i/len(df1)*100,2)
    print(f'{i} : {a}%')

34 : 36.56%
2 : 2.15%
11 : 11.83%

In [11]:
df1.loc[df1['AirBags'].isnull()]

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
11,Chevrolet,Cavalier,Compact,8.5,13.4,18.3,25,36,NaN,Front,...,5,182,101,66,38,25.0,13.0,2490,USA,Chevrolet Cavalier
14,Chevrolet,Lumina,Midsize,13.4,15.9,18.4,21,29,NaN,Front,...,6,198,108,71,40,28.5,16.0,3195,USA,Chevrolet Lumina
15,Chevrolet,Lumina_APV,Van,14.7,16.3,18.0,18,23,NaN,Front,...,7,178,110,74,44,30.5,NaN,3715,USA,Chevrolet Lumina_APV
16,Chevrolet,Astro,Van,14.7,16.6,18.6,15,20,NaN,4WD,...,8,194,111,78,42,33.5,NaN,4025,USA,Chevrolet Astro
22,Dodge,Colt,Small,7.9,9.2,10.6,29,33,NaN,Front,...,5,174,98,66,32,26.5,11.0,2270,USA,Dodge Colt
28,Eagle,Summit,Small,7.9,12.2,16.5,29,33,NaN,Front,...,5,174,98,66,36,26.5,11.0,2295,USA,Eagle Summit
30,Ford,Festiva,Small,6.9,7.4,7.9,31,33,NaN,Front,...,4,141,90,63,33,26.0,12.0,1845,USA,Ford Festiva
31,Ford,Escort,Small,8.4,10.1,11.9,23,30,NaN,Front,...,5,171,98,67,36,28.0,12.0,2530,USA,Ford Escort
32,Ford,Tempo,Compact,10.4,11.3,12.2,22,27,NaN,Front,...,5,177,100,68,39,27.5,13.0,2690,USA,Ford Tempo
38,Geo,Metro,Small,6.7,8.4,10.0,46,50,NaN,Front,...,4,151,93,63,34,27.5,10.0,1695,non-USA,Geo Metro
43,Hyundai,Excel,Small,6.8,8.0,9.2,29,33,NaN,Front,...,5,168,94,63,35,26.0,11.0,2345,non-USA,Hyundai Excel
44,Hyundai,Elantra,Small,9.0,10.0,11.0,22,29,NaN,Front,...,5,172,98,66,36,28.0,12.0,2620,non-USA,Hyundai Elantra
45,Hyundai,Scoupe,Sporty,9.1,10.0,11.0,26,34,NaN,Front,...,4,166,94,64,34,23.5,9.0,2285,non-USA,Hyundai Scoupe
46,Hyundai,Sonata,Midsize,12.4,13.9,15.3,20,27,NaN,Front,...,5,184,104,69,41,31.0,14.0,2885,non-USA,Hyundai Sonata
52,Mazda,323,Small,7.4,8.3,9.1,29,37,NaN,Front,...,4,164,97,66,34,27.0,16.0,2325,non-USA,Mazda 323
53,Mazda,Protege,Small,10.9,11.6,12.3,28,36,NaN,Front,...,5,172,98,66,36,26.5,13.0,2440,non-USA,Mazda Protege
55,Mazda,MPV,Van,16.6,19.1,21.7,18,24,NaN,4WD,...,7,190,110,72,39,27.5,NaN,3735,non-USA,Mazda MPV
60,Mercury,Cougar,Midsize,14.9,14.9,14.9,19,26,NaN,Rear,...,5,199,113,73,38,28.0,15.0,3610,USA,Mercury Cougar
61,Mitsubishi,Mirage,Small,7.7,10.3,12.9,29,33,NaN,Front,...,5,172,98,67,36,26.0,11.0,2295,non-USA,Mitsubishi Mirage
65,Nissan,Quest,Van,16.7,19.1,21.5,17,23,NaN,Front,...,7,190,112,74,41,27.0,NaN,4100,non-USA,Nissan Quest
67,Oldsmobile,Achieva,Compact,13.0,13.5,14.0,24,31,NaN,Front,...,5,188,103,67,39,28.0,14.0,2910,USA,Oldsmobile Achieva
69,Oldsmobile,Silhouette,Van,19.5,19.5,19.5,18,23,NaN,Front,...,7,194,110,74,44,30.5,NaN,3715,USA,Oldsmobile Silhouette
71,Plymouth,Laser,Sporty,11.4,14.4,17.4,23,30,NaN,4WD,...,4,173,97,67,39,24.5,8.0,2640,USA,Plymouth Laser
72,Pontiac,LeMans,Small,8.2,9.0,9.9,31,41,NaN,Front,...,4,177,99,66,35,25.5,17.0,2350,USA,Pontiac LeMans
73,Pontiac,Sunbird,Compact,9.4,11.1,12.8,23,31,NaN,Front,...,5,181,101,66,39,25.0,13.0,2575,USA,Pontiac Sunbird
75,Pontiac,Grand_Prix,Midsize,15.4,18.5,21.6,19,27,NaN,Front,...,5,195,108,72,41,28.5,16.0,3450,USA,Pontiac Grand_Prix
79,Subaru,Justy,Small,7.3,8.4,9.5,33,37,NaN,4WD,...,4,146,90,60,32,23.5,10.0,2045,non-USA,Subaru Justy
80,Subaru,Loyale,Small,10.5,10.9,11.3,25,30,NaN,4WD,...,5,175,97,65,35,27.5,15.0,2490,non-USA,Subaru Loyale
82,Suzuki,Swift,Small,7.3,8.6,10.0,39,43,NaN,Front,...,4,161,93,63,34,27.5,10.0,1965,non-USA,Suzuki Swift
87,Volkswagen,Fox,Small,8.7,9.1,9.5,25,33,NaN,Front,...,4,163,93,63,34,26.0,10.0,2240,non-USA,Volkswagen Fox
88,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17,21,NaN,Front,...,7,187,115,72,38,34.0,NaN,3960,non-USA,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,22.4,21,30,NaN,Front,...,5,180,103,67,35,31.5,14.0,2985,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18,25,NaN,Front,...,4,159,97,66,36,26.0,15.0,2810,non-USA,Volkswagen Corrado

In [12]:
df1.describe(include='all')

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
count,93,93,93,93.000000,93.000000,93.000000,93.000000,93.000000,59,93,...,93.000000,93.000000,93.000000,93.000000,93.000000,91.000000,82.000000,93.000000,93,93
unique,32,93,6,NaN,NaN,NaN,NaN,NaN,2,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,93
top,Chevrolet,Integra,Midsize,NaN,NaN,NaN,NaN,NaN,Driver only,Front,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USA,Acura Integra
freq,8,1,22,NaN,NaN,NaN,NaN,NaN,43,67,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48,1
mean,NaN,NaN,NaN,17.125806,19.509677,21.898925,22.365591,29.086022,NaN,NaN,...,5.086022,183.204301,103.946237,69.376344,38.956989,27.829670,13.890244,3072.903226,NaN,NaN
std,NaN,NaN,NaN,8.746029,9.659430,11.030457,5.619812,5.331726,NaN,NaN,...,1.038979,14.602382,6.819674,3.778986,3.223265,2.989072,2.997967,589.896510,NaN,NaN
min,NaN,NaN,NaN,6.700000,7.400000,7.900000,15.000000,20.000000,NaN,NaN,...,2.000000,141.000000,90.000000,60.000000,32.000000,19.000000,6.000000,1695.000000,NaN,NaN
25%,NaN,NaN,NaN,10.800000,12.200000,14.700000,18.000000,26.000000,NaN,NaN,...,4.000000,174.000000,98.000000,67.000000,37.000000,26.000000,12.000000,2620.000000,NaN,NaN
50%,NaN,NaN,NaN,14.700000,17.700000,19.600000,21.000000,28.000000,NaN,NaN,...,5.000000,183.000000,103.000000,69.000000,39.000000,27.500000,14.000000,3040.000000,NaN,NaN
75%,NaN,NaN,NaN,20.300000,23.300000,25.300000,25.000000,31.000000,NaN,NaN,...,6.000000,192.000000,110.000000,72.000000,41.000000,30.000000,15.000000,3525.000000,NaN,NaN
max,NaN,NaN,NaN,45.400000,61.900000,80.000000,46.000000,50.000000,NaN,NaN,...,8.000000,219.000000,119.000000,78.000000,45.000000,36.000000,22.000000,4105.000000,NaN,NaN

In [13]:
df1.loc[df1.AirBags.isnull(),'AirBags']=0

In [14]:
df2=df.copy()

In [15]:
df2.AirBags = df2.AirBags.fillna(method='ffill')

In [16]:
df3=df.copy()

In [17]:
df3.AirBags = df3.AirBags.fillna(method='bfill')

In [18]:
import pandas as pd
import numpy as np
 
df_nan = pd.DataFrame({
    'ID': [10, np.nan, 20, 30, np.nan, 50, np.nan,
           150, 200, 102, np.nan, 130],
 
    'Sale': [10, 20, np.nan, 11, 90, np.nan,
             55, 14, np.nan, 25, 75, 35],
 
    'Date': ['2020-10-05', '2020-09-10', np.nan,
             '2020-08-17', '2020-09-10', '2020-07-27',
             '2020-09-10', '2020-10-10', '2020-10-10',
             '2020-06-27', '2020-08-17', '2020-04-25'],
})
 
df_nan

       ID  Sale        Date
0    10.0  10.0  2020-10-05
1     NaN  20.0  2020-09-10
2    20.0   NaN         NaN
3    30.0  11.0  2020-08-17
4     NaN  90.0  2020-09-10
5    50.0   NaN  2020-07-27
6     NaN  55.0  2020-09-10
7   150.0  14.0  2020-10-10
8   200.0   NaN  2020-10-10
9   102.0  25.0  2020-06-27
10    NaN  75.0  2020-08-17
11  130.0  35.0  2020-04-25

In [19]:
df_nan.loc[df_nan.Sale.isnull(),'Sale']=df_nan.Sale.mean()

In [20]:
df_nan

       ID       Sale        Date
0    10.0  10.000000  2020-10-05
1     NaN  20.000000  2020-09-10
2    20.0  37.222222         NaN
3    30.0  11.000000  2020-08-17
4     NaN  90.000000  2020-09-10
5    50.0  37.222222  2020-07-27
6     NaN  55.000000  2020-09-10
7   150.0  14.000000  2020-10-10
8   200.0  37.222222  2020-10-10
9   102.0  25.000000  2020-06-27
10    NaN  75.000000  2020-08-17
11  130.0  35.000000  2020-04-25